<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--FileReceiver-->
  <connectionStrings>
    <add name="DB" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=fdb;Integrated Security=false;user id=sa;password=123@qwe" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- DEVELOPMENT.MODE = ON / OFF -->
    <add key="DEVELOPMENT.MODE" value="ON"/>
    <add key="NO.OF.APP" value="1"/>
    <add key="APP.1" value="C:\Users\lenovo\Desktop\workspace\ucustom\test\FoSIM_CA_INBOUND"/>
    <add key="ARCHIVE.1" value="C:\Users\lenovo\Desktop\workspace\ucustom\test\FoSIM_CA_INBOUND_HISTORY"/>
    <add key="RESPONSE.1" value="C:\Users\lenovo\Desktop\workspace\ucustom\test\FoSIM_CA_OUTBOUND"/>
    <add key="APP.2" value="D:\Itacsystem\exe-2\Log"/>
    <add key="TIME.FORMAT.HACK" value="ON"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
