<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--FileReceiver-->
  <connectionStrings>
    <add name="DB" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=fdb;Integrated Security=false;user id=sa;password=123@qwe" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- DEVELOPMENT.MODE = ON / OFF -->
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
